body {
    background-image: url("../img/metal2.png");
}

input {
    margin-top: 0.3em;
}

#conteneur {
    padding-top: 1em;
    padding-bottom: 3em;
}

#logo {
    float: left;
}

#logo + div {
    float: right;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

a {
    text-decoration: none;
    color: white;
}

.FILE-BTN {
    background: linear-gradient(to bottom, #ffbd5d, #ffb525);
    border-radius: 9px;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: Arial;
    font-size: 1.1em;
    text-align: center;
    width: 200px;
    color: black;
}

.FILE-BTN:hover {
    background: linear-gradient(to bottom, #ffb525, #ffbd5d);
    color: black;
}

.Lien_upld,
.Lien_ins,
.Lien_cnx,
.subbutton {
    -moz-box-shadow: 4px 3px 7px -2px #808080;
    -webkit-box-shadow: 4px 3px 7px -2px #808080;
    box-shadow: 4px 3px 7px -2px #808080;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbdbdb), color-stop(1, #474747));
    background: -moz-linear-gradient(top, #dbdbdb 5%, #474747 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 5%, #474747 100%);
    background: -o-linear-gradient(top, #dbdbdb 5%, #474747 100%);
    background: -ms-linear-gradient(top, #dbdbdb 5%, #474747 100%);
    background: linear-gradient(to bottom, #dbdbdb 5%, #474747 100%);
   /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#474747', GradientType=0);*/
    background-color: #dbdbdb;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: Arial;
    font-size: 1.1em;
    text-align: center;
    width: 120px;
}

#input_text {
    position: absolute;
    top: 0;
    right: 70px;
}

.subbutton {
    padding-top: 3px;
    padding-bottom: 3px;
}

.subbutton[value="Envoyer"] {
    margin-bottom: 10px;
}


.Lien_cnx,
.Lien_ins {
    padding-top: 5px;
    padding-bottom: 5px;
}

.Lien_upld {
    width: 140px;
    margin: auto;
    margin-top: 50px;
}

.Lien_upld:hover,
.Lien_ins:hover,
.Lien_cnx:hover,
.subbutton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #474747), color-stop(1, #dbdbdb));
    background: -moz-linear-gradient(top, #474747 5%, #dbdbdb 100%);
    background: -webkit-linear-gradient(top, #474747 5%, #dbdbdb 100%);
    background: -o-linear-gradient(top, #474747 5%, #dbdbdb 100%);
    background: -ms-linear-gradient(top, #474747 5%, #dbdbdb 100%);
    background: linear-gradient(to bottom, #474747 5%, #dbdbdb 100%);
   /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#dbdbdb', GradientType=0);
    */background-color: #474747;
    color: white;
}

.header {
    border: 3px solid black;
    border-radius: 5px;
    width: 80%;
    min-height: 8em;
    height: auto;
    margin: auto;
    background-image: url("../img/metal.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

textarea {
    resize: none;
}

.pswd {
    height: 2em;
    width: 30%;
    border-radius: 7px;
    margin-bottom: 10px;
}

.Form {
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
    padding-left: 10%;
    padding-bottom: 8%;
    padding-top: 2%;
    border: 3px solid black;
    border-radius: 5px;
    background-image: url("../img/metal.png");
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

.logo1 {
    width: 15em;
    max-width: 100%;
}

.logo2 {
    width: 23em;
    max-width: 100%;
}

.rec {
    width: 35%;
    border-radius: 5px;
    background: #ffdf5e
}

.form_upload {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    padding-left: 10%;
    padding-bottom: 5%;
    border: 3px solid black;
    border-radius: 5px;
    background-image: url("../img/metal.png");
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

.errorMSG {
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    background: #ffdf5e;
    filter: contrast(120%);
    width: 42%;
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}

.recherche {
    margin: auto;
    margin-bottom: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    background: #5ba3bf;
    filter: contrast(120%);
    width: 65%;
    font-size: 1.2em;
    color: white;
    opacity: 0.75;
}

/* Passage en inline-block pour faciliter l'alignement */
.recherche label{
    display: inline-block;
    width: 75px;
}




.FormatMSG {
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
    background: #5ba3bf;
    filter: contrast(120%);
    width: 35%;
    font-size: 1.2em;
    color: white;
    opacity: 0.75;
}

.upload_form {
    margin-top: 2%;
}

.titref {
    font-weight: bold;
    margin-right: 1%;
    font-size: 1.5em;
}

.file {
    background: #fff343;
    border-radius: 5px;
}

.titremed {
    width: 30%;
    border-radius: 5px;
}

.grostitre {
    font-weight: bold;
    font-size: 2.5em;
}


/*SLIDER*/

.sli {
    cursor: pointer;
}

/* CSS pour la fenetre modale*/

 #overlay3
	{
		 display: none;
		 position: fixed;
		 top: 0; right: 0; bottom: 0; left: 0;
		 background-color: rgba(0,0,0,0.5);
		 z-index: 10000;
	}
 
 #overlay3:target
	{
		 display: block;
	}
 
 .popup_block
	{
		 background: #fff;
		 padding: 10px;
		 border: 20px solid #ddd;
		 position: relative;
		 /*margin: 10% auto;*/
		 margin-top: 5%;
		 margin-left: auto;
		 margin-right: auto;
		 width: 40%;
		 box-shadow: 0px 0px 20px #000;
		 border-radius: 10px;
	}
 
 img.btn_close
	{
		 float: right;
		 margin: -55px -55px 0 0;
	}

/* Fin du CSS pour la fenetre modale */


/* CSS pour le contenu de la fenetre modale */
.vignette
	{
		 width: 100%;
	}


.cont_vign
	{
		 text-align: center;
	}
	
	
/**************************************
********MEDIA QUERIES ***************
***********************************/


/*Desktop*/


/* 1280px*/


/*@media screen and (min-width:80em) */

@media screen and (min-width:1280px) {
    #conteneur {
        background-image: url("../img/wpperf.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        /* background-size: cover;*/
        width: 1280px;
        margin-left: auto;
        margin-right: auto;
        min-height: 853px;
    }
}


/* TABLETTES */
/*762px*/
/*@media screen and (min-width: 47em) and (max-width: 80em) */

@media screen and (min-width: 768px) and (max-width: 1280px) {
    #conteneur {
        background-image: url("../img/tablettewpperf.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        min-height: 508px;
    }
    .logo1 {
        width: 10em;
        max-width: 100%;
    }
    .logo2 {
        width: 15em;
        max-width: 100%;
    }
    .Lien_cnx,
    .subbutton {
        font-size: 1.3em;
    }
    .header {
        min-height: 6.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #logo + .Lien_cnx {
        margin-top: 0.4em;
    }
    .header,
    .form {
        border: 2px solid black;
    }
    .pswd {
        height: 2.2em;
        width: 144px;
        border-radius: 7px;
        text-align: center;
        margin-bottom: 10px;
        font-size: 0.8em;
    }
}


/* SMARTPHONE*/
/*jusqu'à 762 */

@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
        margin-left: 2px;
        text-align: center;
    }
    .header {
        width: 100%;
        height: auto;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    #logo {
        float: none;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 15px;
    }
    #logo + div {
        float: none;
        width: 140px;
        margin: auto;
    }
    /*#logo + .lien_cnx {
        margin-top: 0.5em;
        font-size: 1.4em;
    }*/
    .Lien_ins {
        float: none;
        width: 140px;
        margin: auto;
        font-size: 1.4em;
    }
    .lien_cnx,
    .subbutton, .Lien_cnx {
        width: 140px;
        margin: auto;
        margin-top: 0.5em;
        font-size: 1.3em;
    }
    .form_upload {
        width: 90%;
        margin: 0;
        margin-top: 5%;
        padding: 5%;
        padding-top: 2%;
        padding-bottom: 20%;
    }
    .Form {
        width: 90%;
        margin: 0;
        margin-top: 5%;
        padding: 5%;
        padding-top: 2%;
        padding-bottom: 20%;
    }


    textarea {
        resize: inherit;
    }
    .pswd {
        height: 2.2em;
        width: 144px;
        border-radius: 7px;
        text-align: center;
        font-size: 0.8em;
    }
    .logo1 {
        width: 12em;
    }
    .logo2 {
        width: 17em;
    }
    .errorMSG {
        margin-top: 5%;
        width: 100%;
        font-size: 1.2em;
    }
    .FormatMSG {
        width: 100%;
    }
    .titremed {
        width: 100%;
    }
    .grostitre {
        font-size: 1.5em;
        font-weight: bold;
    }
    .recherche {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .rec {
        width: 70%;
    }
    .recherche {
        margin: 0;
    }

    .FILE-BTN {
        margin: auto;
    }
}