 body {
     background-image: url("./img/wpperf.png");
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
 }
 
 a {
     text-decoration: none;
 }
 
 .header {
     border: 1px solid black;
     border-radius: 5px;
     width: 80%;
     height: 8em;
     background-color: lightblue;
 }
 
 .Lien_cnx {
     padding-top: 2%;
     padding-left: 90%;
 }
 
 .Form {
     position: absolute;
     padding-top: 17%;
     padding-left: 30%;
 }
 
 .logo1 {
     width: 10em;
 }
 
 .logo2 {
     width: 15em;
 }
 
 .form_upload {
     padding-left: 10%;
 }